
*{
    font-family: 'Source Sans Pro','nunito', 'Source Sans Pro' ;
    box-shadow: none !important;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

//over rinding datatables css
.dataTables_processing {
    background: transparent !important;
}

div .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    color: #333 !important;
    background: #f7f7f7 !important;
    
}