
*{
      font-family: 'nunito', 'Source Sans Pro';

}


body{
    font-size: 14px;
}

#main-nav{
    padding: 0;
}
#main-nav .navbar-nav{
    .navbar-brand{
        color: #efefef;
    }
    .nav-item{
        font-size: 1.3rem;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        a,button{
            color: #efefef;
        }
    }
}

#main-nav .nav-item:hover{
    background: #f7f7f7;
}

#main-nav .nav-item:hover{
    background: #56ace3;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}
.top-left {
    position: absolute;
    top: 2px;
    left: 10px;
  }
  

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}