* {
  font-family: "nunito", "Source Sans Pro";
}

body {
  font-size: 14px;
}

#main-nav {
  padding: 0;
}

#main-nav .navbar-nav .navbar-brand {
  color: #efefef;
}
#main-nav .navbar-nav .nav-item {
  font-size: 1.3rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}
#main-nav .navbar-nav .nav-item a, #main-nav .navbar-nav .nav-item button {
  color: #efefef;
}

#main-nav .nav-item:hover {
  background: #f7f7f7;
}

#main-nav .nav-item:hover {
  background: #56ace3;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.top-left {
  position: absolute;
  top: 2px;
  left: 10px;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#estate-page .product-imgs {
  width: 100%;
}
#estate-page img {
  width: 100%;
  display: block;
}
#estate-page .img-display {
  overflow: hidden;
}
#estate-page .img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
#estate-page .img-showcase img {
  min-width: 100%;
}
#estate-page .img-select {
  display: flex;
}
#estate-page .img-item {
  margin: 0.3rem;
}
#estate-page .img-item:hover {
  opacity: 0.8;
}

#home-section {
  background: url(/../img/home.jpg) no-repeat center;
  position: page;
  background-size: cover;
  width: 100%;
  height: 700px;
}
#home-section h1 {
  display: inline-block;
  margin-top: 110px;
}

#explore-section p {
  font-size: 18px;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  #explore-title {
    width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  #home-title {
    font-size: 52x;
  }
}
.no-link {
  pointer-events: none;
  cursor: text;
  text-decoration: none;
  color: black;
}

#footer {
  background: url(/../img/footer.jpg) no-repeat center center;
  position: page;
  background-size: cover;
  width: 100%;
  height: 200px;
}

.dataTables_processing {
  background: transparent !important;
}

div .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #333 !important;
  background: #f7f7f7 !important;
}
